<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/page :: header"> head -  - loading failed </head>

<body>
<div class="container">

    <h1 th:replace="fragments/page :: title"> title - loading failed </h1>
    <div th:if="${message}" th:text="${message}" class = "alert alert-success"> I hope you won't see this here.. </div>

<table class="table table-striped">
    <thead>
    <tr> <th> Id </th> <th> Names </th> </tr>
    </thead>
    <tbody>
    <th:block th:each="employee : ${employeeList}">
        <tr>
            <td> <a th:href="@{/employee/{id} (id = ${employee.id})}"
                    th:text="'~ &nbsp;' + ${employee.id} +'&nbsp; ~'"> link - loading failed </a></td>
            <td th:text="${employee.name}"></td>
        </tr>
    </th:block>
    </tbody>
</table>

    <div class=form-group>
        <form th:action="@{/}" th:object="${employee}" method="POST">
            <label for="name-input"> Name </label>
            <input th:field="*{name}" id="name-input" class="form-control" />

            <button type="submit" class="btn btn-primary"> Create employee </button>
        </form>
    </div>

</div>
</body>
</html>